[Unit]
Description=battery

[Service]
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/dfanjul/.Xauthority"
ExecStart=/usr/bin/gnome-terminal --disable-factory -x watch ~/bin/battery
