[Unit]
Description=boinccmd auto

[Service]
Type=oneshot
ExecStart=/usr/bin/boinccmd --set_run_mode auto
ExecStart=/usr/bin/boinccmd --set_gpu_mode auto
