[Unit]
Description=dfanjul xscreensaver

[Service]
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/dfanjul/.Xauthority"
ExecStart=/usr/bin/xscreensaver -no-splash
