/.ICEauthority
/.VirtualBox
/.Xauthority
/.appdata
/.aptitude
/.apvlvinfo
/.aria2/dht.dat
/.aws
/.azureus
/.bash_history
/.bup
/.cache
/.compiz
/.compiz-1
/.config/Drifter
/.config/Empathy
/.config/MonoGame
/.config/RogueLegacyStorageContainer
/.config/Trolltech.conf
/.config/autostart
/.config/awesome/rc.lua
/.config/com.grapefrukt.games.rymdkapsel1
/.config/compiz-1
/.config/dconf
/.config/enchant
/.config/eog
/.config/evolution
/.config/gedit
/.config/gnome-control-center
/.config/google-chrome
/.config/gtk-2.0
/.config/gtk-3.0
/.config/htop
/.config/ibus
/.config/libaccounts-glib
/.config/libreoffice
/.config/menus
/.config/monitors.xml
/.config/monitors.xml.backup
/.config/nautilus
/.config/pulse
/.config/ranger
/.config/software-center
/.config/spacebasedf9
/.config/spotify
/.config/ubuntu-ui-toolkit
/.config/unity3d
/.config/update-notifier
/.config/user-dirs.dirs
/.config/user-dirs.locale
/.dbus
/.dmrc
/.fehbg
/.fontconfig
/.fs.json
/.gconf
/.gegl-0.0
/.gimp-2.6
/.gmrun_history
/.gnome
/.gnome2
/.gnupg/.*
/.gnupg/gpg-agent-*
/.gnupg/random_seed
/.goutputstream-*
/.gstreamer-0.10
/.gtk-bookmarks
/.gvfs
/.gvm
/.java
/.lesshst
/.local
/.m2/repository
/.macromedia
/.mission-control
/.moosic/saved_state
/.moosic/server_log
/.mozilla
/.mplayer
/.mysql/workbench/cache
/.mysql/workbench/log
/.mysql/workbench/server_instances.xml
/.mysql/workbench/shell_bookmarks.txt
/.mysql/workbench/shell_history.txt
/.mysql/workbench/snippets/
/.mysql/workbench/sql_history/
/.mysql/workbench/starters_settings.xml
/.mysql/workbench/user_starters.xml
/.mysql/workbench/wb_options.xml
/.mysql/workbench/wb_state.xml
/.mysql_history
/.obnam
/.pip
/.pki
/.pulse
/.pulse-cookie
/.puppet
/.rnd
/.s3ql/authinfo2
/.s3ql/fsck.log
/.s3ql/local:*
/.s3ql/mount.log*
/.s3ql/s3:*
/.sc_history
/.snapshot
/.speech-dispatcher
/.ssh/known_hosts.old
/.stack.wcd
/.steam
/.steampath
/.steampid
/.thumbnails
/.thunderbird
/.towns
/.treedata.wcd
/.vagrant.d
/.vim-go
/.vim/eclim
/.vim/plugin/eclim.vim
/.vim/view
/.viminfo
/.virtualenvs
/.w3m
/.xsession-errors
/.xsession-errors.old
/Desktop/steam.desktop
/Downloads
/VirtualBox VMs
/examples.desktop
/src
/tmp
/usr/local
/var/wcd.go
