/.ICEauthority
/.Xauthority
/.aptitude
/.azureus
/.bash_history
/.bup
/.cache
/.config/VirtualBox
/.config/smplayer
/.gmrun_history
/.gnupg/.#*
/.gnupg/gpg-agent-info-*
/.gnupg/private-keys-v1.d
/.gnupg/pubring.gpg
/.gnupg/random_seed
/.gnupg/secring.gpg
/.gnupg/sshcontrol
/.gnupg/trustdb.gpg
/.gvm
/.java
/.moosic/saved_state
/.moosic/server_log
/.mplayer
/.mutt
/.mysql_history
/.newsbeuter/cache.db
/.newsbeuter/cache.db.lock
/.newsbeuter/history.cmdline
/.newsbeuter/history.search
/.obnam
/.orpie
/.s3ql
/.sc_history
/.ssh/authorized_keys
/.ssh/id_rsa
/.ssh/id_rsa.pub
/.ssh/known_hosts
/.ssh/known_hosts.old
/.stack.wcd
/.steam
/.steampath
/.steampid
/.toprc
/.treedata.wcd
/.vim-go
/.viminfo
/.xsession-errors
/.xsession-errors.old
/Downloads
/VirtualBox VMs
/mnt
/tmp
/var/backups/docker
/var/backups/rdup
/var/lib/s3ql
/var/lock
/var/log
/var/wcd.go
