/.ICEauthority
/.Xauthority
/.aptitude
/.bash_history
/.bup
/.cache
/.gmrun_history
/.gnupg/gpg-agent-info-*
/.gnupg/private-keys-v1.d
/.gnupg/pubring.gpg
/.gnupg/random_seed
/.gnupg/secring.gpg
/.gnupg/sshcontrol
/.gnupg/trustdb.gpg
/.gvm
/.mutt/
/.mysql_history
/.obnam
/.s3ql
/.sc_history
/.ssh/authorized_keys
/.ssh/id_rsa
/.ssh/id_rsa.pub
/.ssh/known_hosts
/.ssh/known_hosts.old
/.stack.wcd
/.treedata.wcd
/.vim-go
/.viminfo
/.xsession-errors
/.xsession-errors.old
/tmp
/var/backups/
/var/wcd.go
/.orpie/
