#!/bin/bash

# quick
xset -b
xsetroot -bg black

# agents
export SSH_AUTH_SOCK=~/.gnupg/S.gpg-agent.ssh

# gnome
gnome-settings-daemon &
gnome-terminal &
nm-applet &
pasystray &
xscreensaver -no-splash &

# set PATH
if [ -d ~/usr/local/bin ]; then
  PATH=~/usr/local/bin:"$PATH"
fi
if [ -d ~/bin/games ] ; then
  PATH=~/bin/games:"$PATH"
fi
if [ -d ~/bin ] ; then
  PATH=~/bin:"$PATH"
fi
