#!/bin/bash

# set PATH
if [ -d ~/usr/local/bin ]; then
  PATH=~/usr/local/bin:"$PATH"
fi
if [ -d ~/bin/games ] ; then
  PATH=~/bin/games:"$PATH"
fi
if [ -d ~/bin ] ; then
  PATH=~/bin:"$PATH"
fi

# env
if vim=$(which vim); then
  export EDITOR="$vim"
fi
unset vim
export SSH_AUTH_SOCK=~/.gnupg/S.gpg-agent.ssh

# config
xset -b
xsetroot -bg black
systemctl --user start xscreensaver.service
pactl set-sink-volume 0 100%

# apps
nm-applet &
pasystray &
